<script setup>
import { ref } from 'vue'
</script>

<template>

  <div class="about">
    <h1>Генератор маршрутов ВДНХ</h1>
    <div class="about__img">
      <img src="@/src/assets/img/header.jpg" alt="">

    </div>
    <div class="about__columns">
      <div class="about__text">
        <h3>Архитектура и оформление</h3>
        <p>Выставка достижений народного хозяйства представляет собой комплекс зданий, построенный с преимущественным
          использованием принципов симметрии. Большинство павильонов построено в период с 1950 по 1954 год, уже при
          послевоенной реконструкции выставки. При этом часть сооружений сохранилась с выставки 1939 года, а часть
          построена уже после 1954 года. Осью выставки служат две параллельные аллеи — Главная и Центральная. На оси
          расположено две площади — Дружбы Народов и Промышленности. Парадный вход на выставку расположен со стороны
          проспекта Мира и станции метро «ВДНХ» и отмечен аркой, построенной в 1951—1954 годах. После арки аллея
          приводит к Центральному павильону выставки, перед которым установлен памятник Ленину. За Центральным
          павильоном расположена площадь Дружбы Народов с фонтаном «Дружба народов», который является одной из наиболее
          известных достопримечательностей выставки. На площади и продолжающей её аллее расположены павильоны,
          построенные изначально для экспозиций союзных республик или регионов РСФСР (но при переходе на отраслевой
          принцип тематика их поменялась, и закономерность нарушилась). Замыкает перспективу аллеи павильон Украинской
          ССР.</p>
      </div>
      <div class="about__text">
        <h3><br></h3>
        <p>
          Дальше расположена площадь Промышленности, на которой стоят павильоны, посвящённые (в том числе и изначально)
          различным отраслям промышленности Советского Союза. В центре площади установлен макет ракеты-носителя
          «Восток»,
          а вокруг неё — образцы авиационной техники: самолёт Як-42, транспортно-десантный вертолёт Ми-8т и истребитель
          Су-27. В стороне от центральной оси выставки расположены меньшие по размеру павильоны, посвящённые другим
          отраслям. К северо-востоку от площади Промышленности находится Животноводческий городок, павильоны которого
          были
          посвящены воспроизводству сельскохозяйственных животных с демонстрацией живых особей. Комплекс павильонов
          Животноводческого городка также образует небольшой архитектурный ансамбль; в частности, павильоны «Корма» и
          «Коневодство» стоят симметрично друг другу на одной площади. Своеобразный элемент декора ряда павильонов в
          Животноводческом городке — барельефы с изображениями сельскохозяйственных животных на фасадах. В западной
          части
          выставки находятся павильоны раздела «Земледелие». Зрелищные сооружения, павильоны торговли и общественного
          питания были равномерно распределены по территории выставки.
        </p>

      </div>
    </div>

  </div>

</template>

<style lang="scss" scoped>
.about {
  padding: 20px;
  background-color: beige;
  box-sizing: border-box;
  width: 100%;

  h1 {
    color: #858585;
  }
}

.about__img {
  width: 100%;
  height: 500px;

  background-color: rgb(13, 40, 158);



  img {
    width: 100%;
    height: 100%;
    object-fit: cover
  }
}

.about__columns {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;

}

.about__text {
  width: 37%;

  p {
    text-align: justify;
  }
}
</style>
