<script setup>
import { ref } from 'vue'

const props = defineProps({
  login: String
})
const emit = defineEmits(['open-login-modal', 'log-out'])

function openLoginModal() {
  emit('open-login-modal')
}

function logout() {
  emit('log-out')
}
</script>

<template>

  <div class="header">
    <div class="logo">
      <img src="../assets/Img/logo.png" alt="">
    </div>
    <div class="menu">
      <a href="#About">о проекте</a>
      <a href="#Tracker">трекер</a>
      <a href="#presetRoutes">готовые маршруты</a>
      <a href="#developers">команда</a>
    </div>
    <div v-if="login" class="user">
      <span>Привет, </span> {{ login }} <span @click="logout" style="cursor: pointer;">выйти</span>
    </div>
    <div v-else class="user" @click="openLoginModal">
      <span style="cursor: pointer;">войти</span>
    </div>
  </div>

</template>

<style lang="scss" scoped>
.header {
  display: flex;
  position: sticky;
  top: 0;
  box-shadow: 2px 1px 7px #000;
  background: rgb(66, 90, 193);
  z-index: 1;

}

.logo {
  width: 140px;
  height: 60px;
  background: #b1d8f1;
  border-radius: 20px;
  margin: 5px 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;

  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu>a {
  color: #ffffffcc;
  padding: 0 10px;
  font-weight: 600;
  font-size: 18px;

  &:hover {
    color: #FFF;
    text-shadow: 0px 0px 10px #FFF;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 30px;
  color: #ffff00cc;
  font-weight: 600;
  font-size: 18px;

  span {
    color: #ffffffcc;

    &:hover {
      color: #FFF;
      text-shadow: 0px 0px 10px #FFF;
    }
  }

}
</style>
