<script setup>
import { ref } from 'vue'
import { getRoutes } from '../gateway/api'

const emit = defineEmits('build-route', 'edit-route')
const props = defineProps({
  isAdmin: Boolean
})
const routes = ref()

async function startComponent() {
  routes.value = await getRoutes()
}
startComponent()



function buildRoute(route) {
  emit('build-route', route)
}
function editRoute(route) {
  emit('edit-route', route)
}

</script>

<template>
  <div class="user-table">

    <table>
      <thead>
        <tr>
          <th colspan="10">Готовые маршруты</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id</td>
          <td>Название(можно изменить)</td>
          <td>Время</td>
          <td>дистанция</td>
          <td></td>
        </tr>
        <tr v-for="(route, index) in routes">
          <td>{{ index }}</td>
          <td>{{ route.name || 'Введите название' }}</td>
          <td>{{ route.duration || 'неизвестно' }}</td>
          <td>{{ route.distance || 'неизвестно' }}</td>
          <td class="td-button">
            <button @click="buildRoute(route)">Построить</button>
            <button v-if="isAdmin" @click="editRoute(route)">Редактировать</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
.user-table {
  background-color: #75a7fd;
}

table {
  width: 100%;
  padding: 20px 10%;

  td {
    border: 1px solid #333;
  }
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.td-button {
  display: flex;
  justify-content: center;
}
</style>
