<script setup>
import { ref, onBeforeUpdate } from 'vue';

const emit = defineEmits(['change-point', 'delete-point'])
const props = defineProps(
  {
    points: Array,
    selectedPoints: Array,
    index: Number,
  }
)

const select = ref()
const thisid = ref()

function deletePoint() {
  emit('delete-point')
}

function changePoint(event) {
  thisid.value = event.target.value
  showEvent(event.target.value)
}

function showEvent(id) {
  emit('change-point', props.points.find(point => point.id == id))
}


// Срабатывает при обновлении компонента
onBeforeUpdate(() => {
  //обновляется активный селект
  select.value.selectedIndex = props.selectedPoints.findIndex(point => point.id == props.selectedPoints[props.index].id)

})


</script>
<template>
  <div>
    <select ref="select" @change="changePoint">
      <option>--- Выберите точку ---</option>
      <option v-for="point in points" :value="point.id">{{ point.name }} </option>
    </select> <span class="delete-btn" v-if="selectedPoints.length !== index" @click="deletePoint"><b>Х</b></span>
  </div>
</template>

<style lang="scss" scoped>
select {
  width: 70%;
  height: 2rem;
  background-color: aliceblue;
  color: black;
  margin-top: 3px;
}

.delete-btn {
  cursor: pointer;
  color: red;
}
</style>