<script setup>
import { ref } from 'vue'
import { getUserRoutes, clearUserRoutes } from './../gateway/storage.js'

const userRoutes = ref()
const props = defineProps({
  isAdmin: Boolean
})
const emit = defineEmits('build-route')
async function startComponent() {
  userRoutes.value = await getUserRoutes()
}
startComponent()

function buildRoute(route) {
  emit('build-route', route)
}


function clearAllUserRoutes() {
  if (confirm('Вы действительно хотите ужалить все записи ?')) {
    clearUserRoutes()
    userRoutes.value = []
  }

}

</script>

<template>
  <div class="user-table">
    <table>
      <thead>
        <tr>
          <th colspan="10">Ваши маршруты</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id</td>
          <td>Название(можно изменить)</td>
          <td>Время</td>
          <td>дистанция</td>
          <td class="td-button"><button class="bel-button" @click="clearAllUserRoutes">отчистить всё</button></td>

        </tr>
        <tr v-for="(route, index) in userRoutes">
          <td>{{ index }}</td>
          <td>{{ route.name || 'Введите название' }}</td>
          <td>{{ route.duration || 'неизвестно' }}</td>
          <td>{{ route.distance || 'неизвестно' }}</td>
          <td class="td-button"><button @click="buildRoute(route)">Построить</button></td>
        </tr>
      </tbody>
    </table>


  </div>
</template>

<style lang="scss" scoped>
.user-table {
  background-color: #e4cfe9;
}

button {
  margin: 5px 0;
}

table {
  width: 100%;
  padding: 20px 10%;

  td {
    border: 1px solid #333;
  }
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.td-button {
  display: flex;
  justify-content: center;
}

.bel-button {
  background: rgb(228, 82, 82);
  color: #fff
}
</style>
