<script setup>
import { ref } from 'vue'

const emit = defineEmits('log-in', 'close-login-modal')
const login = ref('')
const password = ref('')



function setLogin(event) {
    login.value = event.target.value
}
function setPassword(event) {
    password.value = event.target.value
}

function logIn() {
    emit('log-in', { login: login.value, password: password.value })
}

function close() {
    emit('close-login-modal')
}
</script>

<template>
    <div class="AuthWindow">
        <div @click="close" class="close">
            <div>X</div>
        </div>
        <div class="auth-form">
            <div>
                <input @change="setLogin" type="text">
            </div>
            <div>
                <input @change="setPassword" type="password" name="" id="">
            </div>
            <button @click="logIn">Войти</button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.AuthWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #878892d0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2501;
}

.auth-form {
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    >div,
    button {
        margin-top: 15px;
    }
}

.close {
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 255, 255);

    >div {
        display: flex;

        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: solid 3px rgb(255, 255, 255);
        border-radius: 50%;
    }
}
</style>