<script setup>

import Header from './components/Header.vue'
import About from './components/About.vue'
import Tracker from './components/Tracker.vue'
import UserTable from './components/UserTable.vue'
import PresetRoutes from './components/PresetRoutes.vue'
import AuthWindow from './components/modal/AuthWindow.vue'
import { getToken } from './gateway/api'
import { getLogin, clearLogin, clearToken } from './gateway/storage'

import { ref, computed } from 'vue'

const tracker = ref()
const isShowUserTable = ref(false)
const login = ref(getLogin() || '')
const isOpenLoginModal = ref(false)

function showUserRoutesTable() {
  isShowUserTable.value = !isShowUserTable.value
}

async function auth(event) {
  try {
    await getToken(event)
    login.value = event.login
    closeLoginModal()

  } catch (error) {
    console.log(error);
  }

}

function closeLoginModal() {
  isOpenLoginModal.value = false
}
function openLoginModal() {
  isOpenLoginModal.value = true
}
function logout() {
  clearLogin()
  clearToken()
  login.value = ''
}

function buildRoute(route) {
  //передаем в функцию компонента маршрут, который берем из того же компонента, но с текущими точками
  tracker.value.setRoute(
    tracker.value.getMultiRoute(route.points)
  )
}
function editRoute(route) {
  tracker.value.addEditingRoute(route)
}


</script>

<template>
  <div class="wrapper">
    <AuthWindow v-if="isOpenLoginModal" @log-in="auth" @close-login-modal="closeLoginModal" />
    <Header id="Header" @open-login-modal="openLoginModal" :login="login" @log-out="logout" />
    <About id="About" />

    <suspense>

      <Tracker id="Tracker" @show-user-routes-table="showUserRoutesTable()" :isAdmin="!!login" ref="tracker" />
    </suspense>
    <UserTable v-if="isShowUserTable" @build-route="buildRoute" :isAdmin="!!login" />
    <PresetRoutes @build-route="buildRoute" @edit-route="editRoute" :isAdmin="!!login" />
  </div>
</template>

<style scoped></style>
